class CreateDataMigrationsTable < ActiveRecord::Migration['4.2']
  def self.up
    create_table :data_migrations, id: false do |t|
      t.string  :version
      t.index :version, unique: true
    end
  end

  def self.down
    drop_table :data_migrations
  end
end
